:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: 'Inter', sans-serif;
  color: #e6e6e6;
}

main {
  margin-top: 8.6rem;
  text-align: center;
}

main > img {
  height: 110px;
  border: 2px solid #717171;
  border-radius: 50%;
}

h1 {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 2rem;
}

h2 {
  margin-top: 0.4rem;
  font-weight: 300;
  font-size: 1.2rem;
  color: #bbb;
}

section {
  margin-top: 3.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a img {
  margin-right: 1.2rem;
}

a {
  margin-bottom: 1rem;
  padding: 1.5rem 0;
  width: 27.6rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background: #333333;
  color: #e6e6e6;
  border-radius: 0.4rem;
  font-weight: 400;
  font-size: 1.4rem;
  transition: 0.2s;
}

a:hover {
  background-image: linear-gradient(to right, #2c71da, #0083e0, #0094e0, #00a2de, #2cb0da);
  transform: translateX(5px);
}

p {
  margin-top: 1.6rem;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
  color: #717171;
}